.top {
  width: 100%;
  padding-top: 0px;
  border-radius: 5px;
  background-color: white;
  .img {
    width: 100%;
    button {
      float: right;
      transform: translateY(-900%);
      margin-right: 10px;
      padding-inline: 10px;
      border-radius: 5px;
      overflow: hidden;
    }
  }
  .avatar {
    display: flex;
    padding-left: 10px;
    gap: 4rem;
    background-color: white;

    .angela {
      display: flex;
      flex-direction: column;
      align-items: center;
      .lee {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-left: 30px;
        transform: translateY(-90%);
      }
      .text {
        display: flex;
        flex-direction: column;
        margin-top: -30px;
        margin-left: 20px;
      }
    }
    .posts {
      display: flex;
      align-items: center;
      gap: 5rem;
      //   padding-inline: 70px;
      padding: 0.8rem;
      background-color: #f8fafc;
      border-radius: 5px;
      background-color: white;
    }
  }
}

@media screen and (max-width: 600px) {
  .top{
    background-color: green;
    width: 100%;
  }
  .img {
    width: 100%;
  }
  .posts {
    gap: 0.5rem;
    padding: 0;
    background-color: rgb(219, 187, 187);
  }
  .posts h3 {
    font-size: 1rem;
  }
  .posts p {
    font-size: 0.8rem;
  }
  .avatar {
    gap: 0.5rem;
    padding: 0;
  }
}
