.main {
  display: flex;
  bottom: 0;
  width: 80%;
  gap: 10px;
  height: 90%;
  position: fixed;
  background-color: #f8fafc;
  // .feed {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   width: 75%;
  //   bottom: 0;
  //   overflow: auto;
  // }
  .shortcuts {
    display: flex;
    flex-direction: column;
    background-color: rgb(180, 187, 115);
    width: 25%;
    position: fixed;
    right: 0;
    height: 100%;
    bottom: 0;
    overflow: auto;
  }
}
@media screen and (max-width: 600px) {
  .main {
    width: 100%;
  }
  .feed {
    width: 600px;
  }
  .shortcuts {
    display: none;
    visibility: hidden;
  }
}
